@import "../../App.scss";
.navbar{
    height: 100px;
    .wrapper{
        max-width: 1366px;
        display: flex;
        margin: auto;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        
        @include mobile{
            justify-content: flex-end;
        }
        .sk{
            width: 100px;
            margin-left: 150px;
           }
    }
    span{
        font-weight: bold;
        @include mobile{
            display: none;
        }
    }
    .social{
        display: flex;
        gap: 26px;
        margin-right: 50px;
        a {
                transition: transform 0.3s ease;
                width: 25px;
                height: 20px;
        }
        a:hover{
            transform: scale(1.5);
        }
    }
}